.card {
  height: 379px;
  width: 300px;
  background: gray;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  overflow: hidden;
  font-size: 100%;
  text-align: center;
}
